<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>World Servants Doetinchem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/app.css" />

        <style>
            .gradient {
                background: linear-gradient(90deg, #4bcfd2 0%, #2ba5a9 100%);
            }
        </style>
    </head>
    <body class="leading-normal tracking-normal text-white gradient">
        <div id="app">
            <component :is="activeComponent" v-show="activeComponent"></component>
        </div>
        <script src="/js/prettify.js"></script>
        <script src="/js/ZeroClipboard.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>